.favorites-grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
    gap:20px;
    padding:20px;
}
.empty{
    display:flex;
    justify-content: center;
    align-items:center;
    font-family:"Montsserat",sans-serif;
    font-size:24px;
    height:100vh;
}